
h2{
    color: blue;/*Color del texto*/
}
p{
    color: green;/*Color del texto*/
}
.tarjeta{
    border: 10px solid #800080 ;/*dimensión del borde del cuadro*/
    background-color: #BFFFF2 ;/*color relleno del recuadro*/
    text-align: center;/*Texto centrado*/
    margin: 10px 80px;
    padding: 5px;
}
.titulo{/*Clases: se le aplican los estilos con la palabra reservada class "".*/
    color: red;
}
#titulo_principal{/*Los identificadores se recomimenta utilizarlo solo una vez*/ 
    color:#808080;
    text-align: center;
}