h1{
    color: brown;
    text-align: center; /*Texto centrado*/
}
h2{
    color: blue;/*Color del texto*/
}
p{
    color: green;/*Color del texto*/
}
.tarjeta{
    border: 10px solid #800080 ;/*dimensión del borde del cuadro*/
    background-color: #BFFFF2 ;/*color relleno del recuadro*/
    text-align: center;/*Texto centrado*/
}
