h1{
    color:red;
    
    
}

a{
    background-color: aqua;
    
}


a:link, a:visited{ /*link visitado*/
    background-color:rgb(127, 168, 168);/*color del contenedor*/
    color: white; /*color del texto del link*/
    padding: 15px 25px ; /*contenedor*/
    text-align: center; /*centrar texto*/
    text-decoration: none; /*no subrayar el link*/
    display: inline-block; /*no queda montado uno sobre otro*/
    margin: 2px ;

}

a:hover, a:active{/*cuando se pocesiona el cursor al link*/
    background-color:burlywood;
    
}

caption{
    color: green;/*color*/
    font-family: 'Times New Roman', Times, serif;/*fuente*/
    font-size: 45px;/*tamaño*/
    line-height:70px;/*espacios parte del titulo*/

}
th{
    color: antiquewhite;
    background-color: rgb(10, 10, 94);
}
table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;/*borde de la tabla*/
    border-collapse: collapse; /*quita una linea de todos los bordes de la tabla*/
   padding: 10px;
   
}
tr:nth-child(even){
    background-color: #f1faee;
}
p{
    text-align: center;
}

.logo{
    display:block;
    margin:auto;
    width: 700px;
    
}
.titulo{
    color: #633974;
    text-align: center;
}
.marco{
    width: 100%;/*Ocupa el 100% de la pantalla*/
    height: 500px;/*los pixeles del alto*/
    border: 5px solid #633974;
}
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#7209b7,#3f37c0);/*color degradado*/
}
.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0,.5);/*transparrencia recuadro*/
    border-radius: 10px;/*borde redondeado (esquinas)*/
}
.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: center;
}
.contenedor .elemento label{
    color: #f1faee;
}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffff;
    margin-bottom: 30px;
}
.contenedor .elemento input[type="submit"]{
    background-color: #f72585;
    border: none;
    letter-spacing: 5px;/*separacion de la palabra */
    text-transform: uppercase; /*palabras mas grande*/
    cursor: pointer;/*el cursor cambia cuando me posiciono en el boton*/ 
    padding: 15px;
    margin-top: 30px;
}