
h2{
    color: blue;/*Color del texto*/
}
p{
    color: green;/*Color del texto*/
}
.tarjeta{
    border: 10px solid #800080 ;/*dimensión del borde del cuadro*/
    background-color: #BFFFF2 ;/*color relleno del recuadro*/
    text-align: center;/*Texto centrado*/
    margin: 10px 80px;
    padding: 5px;
}
.titulo{/*Clases: se le aplican los estilos con la palabra reservada class "".*/
    color: red;
}
#titulo_principal{/*Los identificadores se recomimenta utilizarlo solo una vez*/ 
    color:#808080;
    text-align: center;
}
a:link, a:visited{ /*link visitado*/
    background-color:rgb(127, 168, 168);/*color del contenedor*/
    color: white; /*color del texto del link*/
    padding: 15px 25px; /*contenedor*/
    text-align: center; /*centrar texto*/
    text-decoration: none; /*no subrayar el link*/
    display: inline-block; /*no queda montado uno sobre otro*/
}
a:hover, a:active{/*cuando se pocesiona el cursor al link*/
    background-color:burlywood;
    
}