h1{
    color:red;
}

a{
    background-color: aqua;
}


a:link, a:visited{ /*link visitado*/
    background-color:rgb(127, 168, 168);/*color del contenedor*/
    color: white; /*color del texto del link*/
    padding: 15px 25px; /*contenedor*/
    text-align: center; /*centrar texto*/
    text-decoration: none; /*no subrayar el link*/
    display: inline-block; /*no queda montado uno sobre otro*/
}

a:hover, a:active{/*cuando se pocesiona el cursor al link*/
    background-color:burlywood;
}

caption{
    color: blue;
    font-family: 'Times New Roman', Times, serif;

}
th{
    color: antiquewhite;
    background-color: blue;
}
table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;/*borde de la tabla*/
   /* border-collapse: collapse; quita una linea de todos los bordes de la tabla*/
   padding: 5px;
}